@mixin align-center-flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-flex(){
    display: flex;
}

@mixin colorgrp($color) {
    background-color: $color;
}
