* {
    margin: 0;
    padding: 0;
}

$color-primary: #f9f9f9;
$color-secondary: #1a1919;
$color-light-green: #00ff00;
$color-gray: #f2f2f2;
$font-family: "Poppins", sans-serif;

@mixin align-center-flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    z-index: 200;
    padding: 1vh 0 0 0;
    color: white;
    height: 10vh;
    width: 100vw;
    background-color: #1a1919;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbardetails-content {
    width: 89vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-list {
    font-size: 4vh;
    list-style: none;

    @include align-center-flex();
}

.navbar-list li {
    margin-right: 28px;
    font-size: 17px;
}



.navbar-list li:hover {
    color: red;
    cursor: pointer;
}

.Generativeai-reddot {
    width: 0vw;
    border: 4px solid white;
    margin-right: 2vh;
    height: 2vh;
    width: 1vw;
    border-radius: 3vh;
}

.navbar-list li:last-child {
    height: 3vh;
    background-color: red;
    color: white;
    margin-left: 0vh;
    padding: 2vh 2vh 2vh 1vh;
    border-radius: 0.3vh;
    width: 13vw;
    font-weight: bolder;

    @include align-center-flex();
}



.qsslogosvg {
    height: 8.5vh;
    margin-left: 3vh;
}



.hero {
    /* color: white; */
    height: 100vh;
    width: 100vw;

    @include align-center-flex();
}


.video-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background .content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* VideoText */
.videoover-text{
    position: relative;
    top: 25vh;
    color: white;
    padding: 2vh;
}

.videoover-textdisplay {
    margin: 0vh 0vh 15vh 0vh;
}

.videooverbtn-consultation {
    border: none;
    color: white;
    background-color: red;
    padding: 2vh;
    border-radius: 1vh;
    font-weight: 600;
}

.videooverbtn-portfolio {
    color: red;
    background-color: white;
    border: none;
    padding: 2vh;
    border-radius: 1vh;
}


/* Contact List Goes.... */

.contact {
    text-align: center;
    padding: 5vh;
}

.contact form label {
    display: block;

}

.engagement-model-btn {
    background-color: red;
    padding: 5vh;
    border-radius: 1vh;
    color: white;
    border: none;
    font-size: 3vh;
}

