    ::-webkit-scrollbar {
        width: 1vw;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(8, 8, 8);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #383737;
        cursor: grab;
    }


    /* //////////////////////// */
    .engagementmodel {
        background-image: url("./media/img/background.jpg");
        background-size: cover;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    .engagementmodel-container {
        text-align: center;
        color: white;
        width: 50vw;
        height: 20vh;
    }

    .engagementmodel-container>button {
        margin-top: 2vh;
        font-size: 2.5vh;
        background-color: transparent;
        color: white;
        padding: 1vh;
        border: 2px solid white;
        border-radius: 0.8vh;
    }

    /* Contact Container Goes Here... */

    .contactcontainer {
        /* background-color: blue; */
        width: 99vw;
        position: relative;
        top: 5vh;
        height: 150vh;
    }

    .contactcontainer>img {
        margin-left: 3vw;
        width: 94vw;
        height: 70vh;
    }

    .contactform-container {
        position: absolute;
        top: 35vh;
        width: 99vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactform {
        box-shadow: 1px 1px 15px 0px rgb(27, 27, 27);
        background-color: white;
        width: 80vw;
        height: 80vh;
    }

    .contactform>form {
        display: flex;
        justify-content: center;
        justify-content: center;
    }

    .contactform>h2 {
        margin-top: 15vh;
        text-align: center;
        font-weight: 500;
        line-height: 5vh;
        padding: 1vh;
        font-size: 5vh;
    }

    .contactform>p {
        text-align: center;
        padding: 6vh;
    }

    .contactform>form {
        padding: 6vh;
    }

    .contactform>form>label {
        display: block;

    }


    .contactform>form>input {
        border: 1px solid gray;
    }


    #textmessages {
        height: 15vh;
        width: 20vw;
    }


    /* brandscontainer Goes here.... */
    .brandscontainer {
        width: 99vw;
        height: 100vh;
        /* padding: 10vh; */
    }

    .brandscontainer-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        /* width: 40vw; */
        padding: 7vh;
    }

    .brandslogo-container {
        padding: 0vh 10vh 0vh 15vh;
        /* background-color: red; */
    }

    .brandslogo-container>img {
        /* width: 9vw; */
        height: 7vh;
        padding: 2vh;
        margin: 5vh;
    }