.handshake-container {
    height: 100vh;
    width: 99vw;
    background-size: cover;
    position: relative;
    margin-bottom: 14vh;
}

.handshake-container>img {
    width: 95vw;
    margin: 3vh 3vh 0vh 4vh;
}

.handshakedetails { 
    top: 30vh;
    display: flex;
    position: absolute;
    background-color: white;
    margin: 15vh;
    box-shadow: 0px 0px 15px 1px black;
    padding: 5vh;
}

.handshakedetails>div {
    padding: 3vh;
}

.leftside-squarebracket {
    background-color: #ec3636;
    height: 15rem;
    width: 1rem;

}

.rightside-squarebracket {
    background-color: #ec3636;

}

.thirty-years {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thirtynumber {
    color: red;
    font-size: 9vh;
    font-weight: 500;
}

.handshakesolutions {
    width: 60%;
    line-height: 4vh;
}

.handshakesolutions>h1 {
    margin: 2vh;
    font-size: 4vh;
    font-weight: 600;
}

.handshakesolutions>h3 {
    font-size: 3vh;
    margin: 2vh;
    font-weight: 600;
}

.handshakesolutions>p {
    margin: 2vh;
}

.handshakesolutionsbuttion {
    border: 1px solid red;
    padding: 2vh;
    width: 12vw;
    color: red;
    font-weight: bolder;
    border-radius: 1vh;
    background-color: transparent;
    font-weight: 700;
}

.handshakesolutionsbuttion:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 1s;
}
