.brands-section {
    position: relative;
    top: 8rem;
    width: 99vw;
    height: 100vh;

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 7vh;

        &>h1 {
            font-size: 1.9rem;
            color: rgb(51, 50, 50);
        }
        &>p {
            padding: 1rem 3rem;
            font-size: 1.2rem;
            color: rgb(51, 50, 50);
        }
    }

    &-logo-section {
        padding: 0vh 10vh 0vh 15vh;
        &>img {
            width: 6rem;
            padding: 1.9rem;
            margin: 0.5rem;
            transition: all 0.4s infinite;

            &:hover {
                // border: 1px solid rgb(51, 50, 50);
                cursor: pointer;
                // transform: scale(1.1);
            }
        }
    }
}