
/* Chatbot Element starts from here */
.chatbotcontainer {
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 86vh;
    right: 4vh;
    width: 20vw;
    height: 10vh;

    border-radius: 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-image {
    width: 5vw;
    height: 10vh;
    background-color: blue;
}

.chatbox-msgpopbox {
    width: 5vw;
    height: 10vh;
    border-radius: 10vw;
    background-color: red;
}