/* Contact Container Goes Here... */
.contactcontainer {
    position: relative;
}

.contactcontainer > img {
    margin: 3vh;
    width: 97vw;
}

.contactform-container {
    margin: 9rem;
    padding: 4rem;
    box-shadow: 1px 1px 15px 0px rgb(27, 27, 27);
    background-color: white;
    position: absolute;
    top: 19vh;
    width: 72vw;
}

.contactform-details{
    font-family: $font-family;
    font-size: $font-size;
    text-align: center;
    font-weight: 400;
}

.contactform-details > p {
    font-size: 1.1rem;
}

// Contact Form Styling, Form, and Input Fields
.contactform {
    margin: 2vw;
    height: 100vh;
    width: 65vw;
    background-color: red;
}
.contactform > form > label {
    display: inline-block;
    width: 46vw;
}

.contactform > form {
    // max-width: 50vw;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}