* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}


/* Contact List Goes.... */
.contact {
    text-align: center;
    padding: 5vh;
}

.contact form label {
    display: block;

}
