.navbar {
    position: fixed;
    z-index: 200;
    padding: 1vh 0 0 0;
    color: white;
    height: 10vh;
    width: 100vw;
    background-color: #1a1919;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbardetails-content {
    width: 92vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8.5rem;
}

.navbar-list {
    list-style: none;
    @include align-center-flex();
}

.navbar-list li {
    margin-right: 28px;
    font-size: 17px;
}

.navbar-list li:hover {
    color: red;
    cursor: pointer;
}

.Generativeai-reddot {
    width: 0vw;
    border: 3px solid white;
    margin-right: 2vh;
    border: none;
    height: 2vh;
    width: 1vw;
    border-radius: 3vh;
    animation-name: Generativeai;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    // box-shadow: 0px 0px 20px 14px white;
}

@keyframes Generativeai {
    0%{
        box-shadow: 0px 0px 5px 5px white;
    }
    50%{
        box-shadow: 0px 0px 10px 10px white;
    }
    100%{
        box-shadow: 0px 0px 20px 20px white;
    }
}


.navbar-list li:last-child {
    height: 3vh;
    background-color: red;
    color: white;
    margin-left: 0vh;
    padding: 2vh 2vh 2vh 1vh;
    border-radius: 0.3vh;
    width: 13vw;
    font-weight: bolder;
    @include align-center-flex();
}

.qss-image {
    height: 8.5vh;
    margin-left: 3vh;
}