.service {
    width: 98vw;
    padding: 1rem;
    margin-top: 5rem;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 23, 23);

    &-box-container {
        padding: 0.7rem 0;
        perspective: 22rem;

        &:hover > .service-box {
            transform: rotateY(180deg);
            transition: transform 0.8s;
        }
    }

    &-box {
        background-color: rgb(44, 42, 42);
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        padding: 2.1rem 1.2rem;
        width: 17rem;
        height: 7.7rem;
        
        transform-style: preserve-3d;
        transition: transform 0.8s;
        
        &>h1 {
            font-size: 3rem;
            font-weight: 600;

        }

        // front and back
        &-front{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // font-size: 1.4rem;
            position: absolute;
            left: 4.5rem;
            backface-visibility: hidden;
            border-radius: 10px;

            &>h1 {
                font-size: 3rem;
                font-weight: 600;
            }
        }



        // back
        &-back{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: .9rem;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            color: white;
            margin: 0;
            padding: 0;
            width: 18rem;
            height: 10rem;
            background-color: #ec3636;

            transform: rotateY(180deg);
            color: white;
        }
    }
}

.box-container:hover .service-box {
    transform: rotateY(180deg);
}

.box-container:not(:hover) .service-box {
    transform: rotateY(0deg);
}