
.video-section {
    height: 100vh;
    width: 100vw;
}

.video-section > video {
    width: 100vw;
}

/* VideoText */
.videoover-text {
    position: absolute;
    top: 24vh;
    color: white;
    padding: 5vh;

    &display {
        font-size: 1.3rem;
        margin-bottom: 4rem;
        font-weight: 300;
    }

    &-moving-text > h2{
        color: transparent;
        background-color: #ec3636;
        display: inline-block;
        -webkit-background-clip: text;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 0 0;
        width: 14rem;
        height: 3rem;
        animation: moving-text-animation 2s linear infinite alternate;
    }

    @keyframes moving-text-animation {
        100% {
            width: 0;
        }
        
    }


}

.videooverbtn-consultation {
    border: none;
    color: white;
    background-color: #ec3636;
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 1.1rem;
}

.videooverbtn-portfolio {
    color: #ec3636;
    background-color: white;
    border: none;
    padding: 0.5rem 1.4rem;
    border-radius: 6px;
    font-size: 17px;
    margin-left: 1rem;
    font-family: "Poppins";
}


.videooverbtn-rating {
    width: 14.1rem;
    display: block;
    border: none;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 8px;

    & > img {
        height: 2rem;
    }
}

